@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none; }

*, *:before, *:after {
  box-sizing: border-box;
  user-select: none; }

body {
  margin: 0; }

input, button, textarea {
  font-family: inherit;
  border: none; }

input {
  display: block; }

button {
  border: none;
  cursor: pointer;
  display: inline-block; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul, li {
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

body {
  line-height: 1.4;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #202020;
  height: 100%;
  color: #989898; }

.container {
  margin: 10em auto 0 auto;
  max-width: 700px;
  padding: 0 50px; }
  @media (max-width: 999px) {
    .container {
      padding: 0 50px;
      margin: 6em auto 0 auto; } }
  @media (max-width: 500px) {
    .container {
      padding: 0 25px; } }
  .container--prof {
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: center; }

.page--profil {
  height: 100vh; }

.main {
  padding-left: 300px;
  background-color: #202020; }
  @media (max-width: 999px) {
    .main {
      padding-left: 0; } }

.siedbar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #202020;
  width: 300px;
  text-align: center;
  box-shadow: 5px 0 15px #181818; }
  @media (max-width: 999px) {
    .siedbar {
      transform: translateX(-100%);
      transition: transform 0.3s linear; }
      .siedbar.activ {
        transform: translateX(0%); } }
  .siedbar__box {
    position: relative; }
  @media (max-width: 999px) {
    .siedbar__header {
      display: flex;
      margin-bottom: 20px; } }
  .siedbar__picture {
    overflow: hidden;
    display: block;
    height: 200px; }
    @media (max-width: 999px) {
      .siedbar__picture {
        height: 160px; } }
  .siedbar__image {
    display: block;
    height: auto;
    width: 100%; }
  .siedbar__content__photo {
    display: block;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin: -50px auto 20px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
    position: relative; }
    @media (max-width: 999px) {
      .siedbar__content__photo {
        margin: -20px 10px;
        height: 65px;
        width: 65px; } }
  .siedbar__content__avatar {
    width: auto;
    height: 100%;
    margin: 0 -50%; }
  .siedbar__content__profil {
    margin-top: 20px; }
    @media (max-width: 999px) {
      .siedbar__content__profil {
        padding-left: 8px;
        margin-top: 8px;
        text-align: left; } }
  .siedbar__content__name {
    font-size: 18px;
    color: #fff; }
    @media (max-width: 999px) {
      .siedbar__content__name {
        font-size: 15px; } }
  .siedbar__content__proff {
    font-size: 14px; }
    @media (max-width: 999px) {
      .siedbar__content__proff {
        font-size: 12px; } }
  .siedbar__inner {
    margin-top: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 50px; }
    @media (max-width: 999px) {
      .siedbar__inner {
        display: none; } }
  .siedbar__item {
    display: flex;
    margin-right: 15px; }
  .siedbar__icon {
    height: 25px;
    width: 25px; }
    .siedbar__icon--modal {
      height: 39px;
      width: 39px;
      border-radius: 50%; }
  .siedbar__text {
    padding: 0 15px;
    margin-bottom: 50px; }
    .siedbar__text:after, .siedbar__text:before {
      margin: 25px 0;
      display: block;
      content: "";
      width: calc( 100% -20px  );
      height: 1px;
      background-color: #1c1c1c; }
    @media (max-width: 999px) {
      .siedbar__text {
        display: none; } }
  .siedbar__btn {
    border-radius: 40px;
    padding: 1.1em 1.9em;
    text-decoration: none;
    border: none;
    vertical-align: center;
    display: inline-block;
    font-size: 12px;
    line-height: 1.1;
    font-family: inherit;
    font-weight: 500;
    color: #fff;
    background: #2A5FE7;
    transition: all 0.2s linear; }
    @media (max-width: 999px) {
      .siedbar__btn {
        margin-bottom: 20px; } }
    .siedbar__btn--left {
      background: #ED3024;
      margin-right: 15px; }
      .siedbar__btn--left:hover {
        background: #CD251A; }
    .siedbar__btn--right {
      background: #3137C9; }
      .siedbar__btn--right:hover {
        background: #2A5FE7; }
      .siedbar__btn--right:focus {
        outline: none; }

.nav {
  display: block;
  background-color: #0D0D0D;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: calc( 100% - 300px  ); }
  @media (max-width: 999px) {
    .nav {
      width: 100%; } }
  .nav__nav {
    display: flex; }
  .nav__item {
    position: relative; }
    @media (max-width: 999px) {
      .nav__item {
        display: none; } }
    .nav__item .active {
      background-color: #3137C9; }
    .nav__item:hover .nav__link {
      background-color: #3137C9; }
    .nav__item:hover > .subnav {
      display: block; }
  .nav__link {
    text-transform: uppercase;
    display: block;
    position: relative;
    text-decoration: none;
    color: #FFFF;
    font-size: 14px;
    line-height: 1.1;
    padding: 1em 1em; }
    .nav__link--list {
      padding-right: 2.5em;
      position: relative; }
      .nav__link--list::after {
        position: absolute;
        top: 50%;
        right: 1em;
        display: block;
        content: "";
        border-style: solid;
        border-width: 6px 5px 0 5px;
        border-color: #fff transparent transparent transparent;
        transform: translateY(-50%); }
    .nav__link--offset {
      margin-right: auto; }
  .nav__search {
    color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #0D0D0D;
    background-color: #202020;
    min-width: 212px;
    display: block;
    padding: 0 1.35em;
    height: 45px;
    transition: all 0.4s linear; }
    .nav__search:hover {
      background-color: #2c2c2c; }
    .nav__search:focus {
      outline: none; }
    @media (max-width: 999px) {
      .nav__search {
        margin-left: auto; } }

.nav__item {
  position: relative; }
  .nav__item--offset {
    margin-right: auto; }

.nav__link > .subnav {
  display: block; }

.subnav {
  padding: 1em 0em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #3137C9;
  width: 14.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  display: none; }
  .subnav__categoru {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    padding: 2.5em 1em;
    transition: 0.2s linear; }
    .subnav__categoru:hover {
      color: #bbb8b8; }

.mob-nav {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-top: 40px;
  display: none;
  text-align: left;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 60px; }
  .mob-nav__item {
    padding: 2px 0;
    cursor: pointer; }
  .mob-nav__link {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.6;
    color: #fff;
    transition: 0.2s linear; }
    .mob-nav__link::hover {
      color: #107EFF; }
    .mob-nav__link > .subnav {
      display: block; }
  .mob-nav__subnav {
    margin-left: 10px;
    display: none; }
    .mob-nav__subnav__link {
      font-size: 15px;
      font-weight: 300;
      line-height: 1.6;
      color: #fff;
      transition: 0.2s linear; }
      .mob-nav__subnav__link::hover {
        color: #107EFF; }
  @media (max-width: 999px) {
    .mob-nav {
      display: block; } }

.burger {
  display: none;
  background: none;
  width: 40px;
  padding: 5px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%); }
  .burger__nav {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: opacity 0.2s linear; }
    .burger__nav::before, .burger__nav::after {
      position: absolute;
      content: "";
      display: block;
      background-color: #fff;
      width: 30px;
      height: 2px;
      left: 0;
      top: 10px; }
    .burger__nav::after {
      top: -10px; }
  @media (max-width: 999px) {
    .burger {
      display: block; } }

.storis {
  display: flex;
  overflow-x: scroll;
  margin-bottom: 35px;
  overflow-y: hidden; }
  .storis:only-child {
    overflow-x: hidden; }
  .storis__item {
    cursor: pointer;
    border-radius: 7px;
    flex: 0 0 140px;
    margin-right: calc( 40px /3 );
    height: 195px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative; }
    .storis__item:hover .storis__img {
      transform: scale(1.5);
      transition-duration: 5s; }
    .storis__item::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.8)); }
    .storis__item::before {
      position: absolute;
      content: attr(data-info);
      display: block;
      color: #fff;
      font-size: 12px;
      font-family: "Lato", sans-serif;
      position: absolute;
      text-align: left;
      top: 12px;
      left: 12px;
      z-index: 2;
      width: calc(100% - 24px); }
  .storis__img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    transition: transform 1s ease-in-out; }
  .storis__time {
    color: #fff;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    position: absolute;
    text-align: right;
    right: 12px;
    bottom: 12px;
    z-index: 2;
    width: calc(100% - 24px); }

.add__post {
  margin-bottom: 25px;
  padding: 20px;
  align-items: center;
  background-color: #121212;
  border-radius: 4px;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
  display: flex; }
  .add__post__text {
    overflow: hidden;
    flex-grow: 1;
    margin-right: 15px;
    flex-basis: calc(100% - (88px + 30px));
    font-size: 15px;
    line-height: 2;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5); }
    .add__post__text:focus {
      outline: none; }
      .add__post__text:focus::placeholder {
        opacity: 0; }
  .add__post__btn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden; }
    @media (max-width: 980px) {
      .add__post__btn {
        flex-shrink: 0;
        width: 40px;
        height: 40px; } }
    .add__post__btn--photo {
      position: relative;
      cursor: pointer;
      margin-right: 15px;
      background: #EBEBEB url("../photo/icon/hoto.svg") center no-repeat; }
    .add__post__btn--send {
      cursor: pointer;
      background: #3137C9 url("../photo/icon/send.svg") center no-repeat; }
  .add__post__file {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; }

.post {
  margin-bottom: 25px;
  background: #202020;
  border-radius: 4px;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25);
  padding: 25px 25px; }
  @media (max-width: 700px) {
    .post {
      padding: 15px 15px; } }
  .post::last-child {
    margin-bottom: 0px; }
  .post__text {
    margin: 20px 0;
    font-size: 14px;
    line-height: 1.6; }
    @media (max-width: 700px) {
      .post__text {
        margin: 0 0 10px 0; } }
  .post__footer {
    font-size: 12px;
    color: #828282; }

.post__picture {
  display: block;
  margin: -25px -25px 25px;
  width: calc( 100% + 50px  );
  overflow: hidden; }
  @media (max-width: 700px) {
    .post__picture {
      margin: -15px -15px 10px;
      width: calc( 100% + 30px  ); } }
  .post__picture--video {
    margin: 0 0 25px; }
@media( max-width:770px ) {
  .post__picture--video {
    margin: -15px -15px 10px; } }
.post__image {
  width: 100%;
  height: 245px;
  object-fit: cover;
  border-radius: 4px; }
.post__content {
  margin-top: 10px; }
  .post__content--saerch {
    margin-top: 0px; }
.post__title {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px; }
.post__inner {
  display: flex;
  justify-content: space-between; }
.post__footer {
  display: flex; }
@media( max-width:770px ) {
  .post__footer {
    flex-wrap: wrap; } }
.post__item {
  margin-right: 20px;
  position: relative; }
@media( max-width:770px ) {
  .post__item {
    margin-bottom: 10px; }
    .post__item:last-child {
      margin-bottom: 0px; } }
  .post__item:last-child {
    margin-right: 0px; }
  .post__item--time::after {
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #C4C4C4;
    margin-left: 15px; }
.post__btn {
  font-size: 14px;
  line-height: 1.1;
  color: #107EFF;
  cursor: pointer;
  transition: all 0.2s linear; }
  .post__btn:hover {
    color: #0372f1; }
.post__link {
  font-size: 14px;
  color: #828282;
  transition: all 0.2s linear; }
  .post__link:hover {
    color: #c5bfbf; }
  .post__link--btn {
    font-size: 14px;
    line-height: 1.1;
    color: #107EFF;
    cursor: pointer;
    transition: all 0.2s linear; }
    .post__link--btn:hover {
      color: #0372f1; }

.embed {
  position: relative;
  overflow: hidden; }
  .embed::before {
    content: "";
    display: block;
    padding-top: 56.25%; }
  .embed iframe, .embed video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.pagination {
  margin: 50px 0;
  display: flex;
  justify-content: center; }
@media( max-width:770px ) {
  .pagination {
    margin: 30px 0; } }
  .pagination__inner {
    margin-right: 5px;
    transition: all 0.2s linear;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
  .pagination__item {
    line-height: 40px;
    background-color: #0D0D0D;
    width: 40px;
    height: 40px;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: #fff;
    transition: all 0.2s linear; }
    .pagination__item:hover {
      background-color: #a8a5a5; }
  .pagination .active {
    background-color: #104BE3;
    box-shadow: rgba 16, 75, 227, 0.15; }

.post {
  margin-bottom: 25px; }
  .post__headar {
    display: flex; }
    .post__headar__item:first-child {
      margin-right: auto; }
    .post__headar__link {
      font-size: 14px;
      line-height: 1.6;
      color: #828282;
      margin-right: 10px; }
      .post__headar__link--none {
        display: none; }
  .post__title--post {
    margin-bottom: 10px; }
  .post__item--time {
    font-size: 14px;
    margin-bottom: 20px; }
    @media (max-width: 500px) {
      .post__item--time {
        margin-bottom: 5px; } }
  .post__text--tree {
    margin-top: 0px; }
  .post__picture--post {
    padding: 25px 25px 0; }
    @media (max-width: 680px) {
      .post__picture--post {
        height: 145px;
        padding: 15px 15px 0; } }
  .post__content--post {
    margin-bottom: 30px; }
    .post__content--post::after {
      margin: 30px 0;
      display: block;
      content: "";
      width: calc( 100% -25px  );
      height: 1px;
      background-color: #1c1c1c; }
      @media (max-width: 680px) {
        .post__content--post::after {
          margin: 10px 0; } }

.post__related::after {
  margin: 25px 0;
  display: block;
  content: "";
  width: calc( 100% -25px  );
  height: 1px;
  background-color: #1c1c1c; }
  @media (max-width: 680px) {
    .post__related::after {
      margin: 10px 0; } }
.post__related__title {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 30px; }
  .post__related__title--title {
    margin-bottom: 20px;
    text-align: left; }
  .post__related__title--titles {
    font-size: 21px;
    margin-bottom: 25px;
    text-align: left; }
  .post__related__title--center {
    text-align: center; }
.post__related__post {
  display: flex;
  justify-content: space-between; }
@media( max-width:770px ) {
  .post__related__post {
    flex-wrap: wrap; } }
.post__related__item {
  overflow: hidden;
  flex-basis: 50%;
  margin-bottom: 20px; }
@media( max-width:700px ) {
  .post__related__item {
    flex-basis: 100%; } }
.post__related__link {
  display: block;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 300;
  color: #F3EBA2;
  transition: all 0.2s linear; }
  .post__related__link:hover {
    color: #f7eb81; }

.commets {
  margin: 10px 0 40px 0; }
  @media (max-width: 500px) {
    .commets {
      margin: 10px 0 20px 0; } }
  .commets__text {
    width: 100%;
    resize: none;
    color: #fff;
    background: inherit;
    margin-bottom: 20px;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 1.3;
    height: 30px;
    overflow: hidden; }
    .commets__text::placeholder {
      color: rgba(255, 255, 255, 0.2);
      padding-bottom: 2px; }
    .commets__text:focus {
      outline: none; }
  .commets--btn {
    background-color: #3137C9;
    border-radius: 4px; }

.commet {
  margin-bottom: 30px; }
  @media (max-width: 500px) {
    .commet {
      margin-bottom: 15px; } }
  .commet--two {
    padding-left: 30px;
    margin-bottom: 40px; }
    @media (max-width: 500px) {
      .commet--two {
        padding-left: 15px;
        margin-bottom: 20px; } }
  .commet__inner {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    position: relative; }
  .commet__avatar {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%; }
  .commet__me {
    margin-left: 45px; }
  .commet__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 5px; }
  .commet--time {
    font-size: 12px;
    line-height: 1.16;
    font-weight: 400; }
  .commet__text {
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 5px; }

.work {
  display: flex;
  overflow: hidden;
  margin-bottom: 25px;
  background-color: #202020;
  border-radius: 4px;
  box-shadow: 0 5px 22px rgba(0, 0, 0, 0.25); }
  .work:last-child {
    margin-bottom: 60px; }
  @media (max-width: 700px) {
    .work {
      flex-wrap: wrap; } }
  .work__pucture {
    width: auto;
    min-height: 510px; }
  .work__image {
    height: 100%;
    display: block;
    width: 310px;
    object-fit: cover; }
    @media (max-width: 700px) {
      .work__image {
        width: 100%; } }
  .work__content {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 25px 25px;
    width: calc( 100% - 310px  ); }
    @media (max-width: 700px) {
      .work__content {
        width: 100%;
        padding: 15px 15px; } }
  .work__title {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff; }
  .work__text {
    text-align: left;
    font-size: 16px;
    color: #d2d2d2;
    margin-bottom: 20px; }
  .work__inner {
    display: flex;
    margin-bottom: 20px; }
  .work__item {
    margin-right: 7px; }
    .work__item:last-child {
      margin-right: 0px; }
  .work__link {
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    border-radius: 2px;
    background-color: #EA8C1E;
    padding: 0.5em 1em;
    line-height: 1.3;
    transition: all 0.2s linear; }
    .work__link:hover {
      background-color: #c2741a; }
  .work__btn {
    margin-top: auto;
    text-align: right; }

.profil {
  display: flex;
  flex-wrap: wrap; }
  @media (max-width: 700px) {
    .profil {
      flex-wrap: nowrap;
      flex-direction: column; } }
  .profil__inner {
    display: flex;
    justify-content: center; }
  @media (max-width: 700px) {
    .profil--btn {
      width: 110px; } }
  .profil__item:first-child {
    margin-right: 20px; }
  .profil__link {
    font-size: 12px;
    line-height: 1.2;
    color: #fff; }
    .profil__link:hover {
      text-decoration: underline; }
  .profil__grup {
    position: relative; }
    .profil__grup__btn {
      display: flex;
      justify-content: center; }
      @media (max-width: 700px) {
        .profil__grup__btn {
          width: 110px; } }
  .profil__line {
    position: absolute;
    width: 0;
    height: 1px;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #3137C9;
    transition: width 0.2s linear; }
  .profil__form {
    flex-basis: 340px; }
    @media (max-width: 700px) {
      .profil__form {
        flex-basis: 340px; } }
    .profil__form--modal {
      flex-basis: 340px; }
    .profil__form--form {
      margin: 0 auto;
      max-width: 300px; }
    .profil__form__input {
      width: 100%;
      font-size: 14px;
      line-height: 1.3;
      font-weight: 400;
      border: none;
      background: inherit;
      margin-bottom: 25px;
      color: rgba(255, 255, 255, 0.7);
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding: 3px 2px; }
      .profil__form__input::placeholder {
        color: rgba(255, 255, 255, 0.2); }
      .profil__form__input:focus {
        outline: none; }
      .profil__form__input:focus + .profil__line {
        width: 100%; }
  .profil__avatar {
    margin-left: 110px; }
    @media (max-width: 700px) {
      .profil__avatar {
        margin-left: 0; } }
  .profil__picture {
    height: 100%;
    width: auto; }
  .profil__image {
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-bottom: 15px;
    display: block; }
  .profil__label {
    text-decoration: underline;
    cursor: pointer;
    color: #107EFF;
    transition: 0.2s linear; }
    .profil__label:hover {
      text-decoration: none; }
  .profil__input {
    display: none; }

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
  padding: 10px; }
  .modal:target {
    opacity: 1;
    visibility: visible; }
  .modal:target .modal--form {
    transform: perspective(600px) translate(0, 0) rotatex(0deg);
    opacity: 1; }
  .modal--form {
    position: relative;
    max-width: 500px;
    width: 100%;
    padding: 50px 40px 40px;
    background-color: #202020;
    border-radius: 4px;
    opacity: 0;
    transform: perspective(600px) translate(0, -100%) rotatex(45deg);
    transition: all 0.5s ease 0s; }
  .modal--btn {
    text-align: left;
    margin-bottom: 50px; }
  .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    text-align: right;
    transition: transform 0.2s linear; }
    .modal__close:hover {
      transform: rotate(90deg); }
  .modal__inner {
    display: flex;
    justify-content: center; }
  .modal__item {
    margin-right: 20px; }
  .modal__link {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.5);
    transition: 0.2s linear; }
    .modal__link::hover {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
