
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')
$tt1:'Lato', sans-serif
$tt2: 'Roboto', sans-serif

@import "var.sass"
@import "null.sass"

body
  line-height: 1.4
  font-size: 14px
  font-family: $tt2
  background-color: #202020
  height: 100%
  color: $textcol
.container

  margin: 10em auto  0 auto
  max-width: 700px
  padding: 0 50px
  @media (max-width: 999px)
    
    padding: 0 50px
    margin: 6em auto  0 auto
  @media (max-width: 500px)
    padding: 0 25px
  &--prof
    display: flex
    height: 80vh
    flex-direction: column
    justify-content: center
   
    


.page
  
  
  &--profil
    height: 100vh
.main
  padding-left: 300px
  background-color: $accent
  @media (max-width: 999px)
    padding-left: 0
// ====== siedbar======//
.siedbar
  
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 5
  background-color: #202020
  width: 300px
  text-align: center
  box-shadow: 5px 0 15px #181818
  @media (max-width: 999px)
    
    transform: translateX(-100%)
    transition: transform .3s linear
    &.activ
      transform: translateX(0%)
  &__box
    position: relative
    
  &__header
    @media (max-width: 999px)
      display: flex
      margin-bottom: 20px
        
      
  &__picture
    
    overflow: hidden
    display: block
    height: 200px
    @media (max-width: 999px)
      height: 160px
  &__image
    display: block
    height: auto
    width: 100%
  &__content
    &__photo
      display: block
      height: 100px
      width: 100px
      overflow: hidden
      margin: -50px auto 20px
      border-radius: 50%
      border: 2px solid #ffffff
      box-shadow: 0 7px 20px rgba(0,0 , 0,.25 )
      position: relative
      @media (max-width: 999px)
        
        margin: -20px 10px
        height: 65px
        width: 65px

        
    &__avatar
      
      width: auto
      height: 100%
      margin: 0 -50%
      @media (max-width: 999px)
    &__profil
      margin-top: 20px
      @media (max-width: 999px)
        padding-left: 8px
        margin-top: 8px
        text-align: left
        
        
    &__name
      
      font-size: 18px
      color: #fff
      @media (max-width: 999px)
        font-size: 15px
    &__proff
      font-size: 14px
      @media (max-width: 999px)
        font-size: 12px
  &__inner
    margin-top: 20px
    justify-content: center
    display: flex
    margin-bottom: 50px
    @media (max-width: 999px)
      display: none
  &__item
    display: flex
    margin-right: 15px
  &__icon
    
    height: 25px
    width: 25px
    &--modal
      height: 39px
      width: 39px
      border-radius: 50%
  &__text
    padding: 0 15px
    margin-bottom: 50px
    &:after,&:before
      margin: 25px 0
      display: block
      content: ''
      width: calc( 100% -20px  ) 
      height: 1px
      background-color: #1c1c1c
      
    @media (max-width: 999px)
      display: none
  &__btn
    border-radius: 40px
    padding: 1.1em 1.9em
    text-decoration: none
    border: none
    display: inline-block
    font-size: 12px
    line-height: 1.1
    font-family: inherit
    font-weight: 500
    color: #fff
    background: #2A5FE7
    transition: all 0.2s linear
    
    &--left
      background: $butcol2
      margin-right: 15px
      &:hover
        background: #CD251A
    &--right
      background: $butcol
      &:hover
        background: #2A5FE7
      &:focus
        outline: none


// ====== nav======//
.nav
  display: block
  background-color: $head
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  position: fixed
  top: 0
  right: 0
  z-index: 5
  width: calc( 100% - 300px  )
  @media (max-width: 999px)
    width: 100%
  &__nav
    display: flex
    
  &__item
    position: relative
    @media (max-width: 999px)
      display: none
    .active
      background-color: $butcol
    &:hover
      .nav__link
        background-color: $butcol
      > .subnav
        display: block
  &__link
    text-transform: uppercase
    display: block
    position: relative
    text-decoration: none
    color: #FFFF
    font-size: 14px
    line-height: 1.1
    padding: 1em 1em
    
    &--list
      padding-right: 2.5em
      position: relative
      &::after
        position: absolute
        top: 50%
        right: 1em
        display: block
        content: ''
        border-style: solid
        border-width: 6px 5px 0 5px
        border-color: #fff transparent transparent transparent
        transform: translateY(-50%)
    &--offset
      margin-right: auto
  &__search
    color: rgba(255,255 , 255,.4 )
    border-bottom: 1px solid $head
    background-color: #202020
    min-width: 212px 
    display: block
    padding: 0 1.35em
    height: 45px
    transition: all 0.4s linear
    &:hover
      background-color: #2c2c2c
    &:focus
      outline: none
    @media (max-width: 999px)
      margin-left: auto
.nav__item
  position: relative
  &--offset
    margin-right: auto
  &:hover
.nav__link
    > .subnav
      display: block
.subnav
  padding: 1em 0em
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  background-color: $butcol
  width: 14.5rem
  position: absolute
  top: 100%
  left: 0
  display: none
  &__categoru
    text-decoration: none
    text-transform: uppercase
    color: #fff
    font-size: 12px
    padding: 2.5em 1em
    transition: 0.2s linear
    &:hover
      color: #bbb8b8

// ====== mob-nav ======//
.mob-nav 
  border-top: 1px solid rgba(255,255 ,255 ,0.25 )
  padding-top: 40px
  display: none
  text-align: left
  margin-left: 30px
  margin-right: 20px
  margin-bottom: 60px
  &__item
    padding: 2px 0
    cursor: pointer
  &__link
    font-size: 16px
    font-weight: normal
    line-height: 1.6
    color: #fff
    transition: .2s linear
    &::hover
      color: #107EFF
    & > .subnav 
      display: block
  &__subnav
    margin-left: 10px
    
    display: none
    &__link
      font-size: 15px
      font-weight: 300
      line-height: 1.6
      color: #fff
      transition: .2s linear
      &::hover
        color: #107EFF
  @media (max-width: 999px)
    display: block
// ====== burger======//
.burger
  display: none
  background: none
  width: 40px
  padding: 5px
  height: 100%
  position: absolute
  top: 50%
  left: 20px
  transform: translateY(-50%)
  &::before,&::after
  &__nav
    top: 50%
    left: 20px
    transform: translateY(-50%)
    border-radius: 4px
    display: block
    width: 100%
    height: 2px
    background-color: #fff
    transition: opacity .2s linear
    &::before,&::after
      position: absolute
      content: ""
      display: block
      background-color: #fff
      width: 30px
      height: 2px
      left: 0
      top: 10px
    &::after
      top: -10px
    &.activ
  @media (max-width: 999px)
    display: block
// ====== storis======//
.storis
  
  display: flex
  overflow-x: scroll
  margin-bottom: 35px
  overflow-y: hidden
  &:only-child
    overflow-x: hidden 
  &__item
    cursor: pointer
    border-radius: 7px
    flex: 0 0 140px
    margin-right: calc( 40px /3 )
    height: 195px
    box-shadow: 0 5px 15px rgba(0,0 ,0 , .4)
    overflow: hidden
    position: relative
    &:hover
      .storis__img
        transform: scale(1.5)
        transition-duration: 5s
    &::after
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 1
      background: linear-gradient(to bottom,rgba(0,0 , 0,0.8 ) ,rgba(0,0 , 0,0.2 ) 50%, rgba(0,0 , 0,0.8 ))
    &::before
      position: absolute
      content: attr(data-info)
      display: block
      color: #fff
      font-size: 12px
      font-family: $tt1
      position: absolute
      text-align: left
      top: 12px
      left: 12px
      z-index: 2
      width: calc(100% - 24px)
  &__img
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    object-fit: cover
    transition: transform 1s ease-in-out
  &__time
    color: #fff
    font-size: 12px
    font-family: $tt1
    position: absolute
    text-align: right
    right: 12px
    bottom: 12px
    z-index: 2
    width: calc(100% - 24px)

// ====== add-post======//
.add__post
  margin-bottom: 25px
  padding: 20px
  align-items: center
  background-color: #121212
  border-radius: 4px
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  display: flex
  &__text
    overflow: hidden
    flex-grow: 1
    margin-right: 15px
    flex-basis: calc(100% - (88px + 30px))
    font-size: 15px
    line-height: 2
    background-color: transparent
    color: rgba(255, 255, 255, 0.5)
    &:focus
      outline: none
      &::placeholder
        opacity: 0
  &__btn
    width: 44px
    height: 44px
    border-radius: 50%
    overflow: hidden
    @media (max-width: 980px)
      flex-shrink: 0
      width: 40px
      height: 40px
    &--photo
      position: relative
      cursor: pointer
      margin-right: 15px
      background: #EBEBEB url('../photo/icon/hoto.svg') center no-repeat
    &--send
      cursor: pointer
      background: #3137C9 url('../photo/icon/send.svg')  center no-repeat
  &__file
    width: 100%
    height: 100%
    cursor: pointer
    position: absolute
    left: 0
    top: 0
    opacity: 0
    

// ====== post======//
.post
  margin-bottom: 25px
  background: #202020
  border-radius: 4px
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  padding: 25px 25px
  @media (max-width: 700px)
    padding: 15px 15px
  &::last-child
    margin-bottom: 0px
  &__text 
    margin: 20px 0
    font-size: 14px
    line-height: 1.6
    
    @media (max-width: 700px)
      margin: 0 0 10px 0 
  &__footer
    
    font-size: 12px
    color: $blgcol

   

// ====== post post--two======//
.post
  &__two
   
  &__picture
    display: block
    margin: -25px -25px 25px 
    width: calc( 100% + 50px  )
    overflow: hidden
    @media (max-width: 700px)
      margin: -15px -15px 10px 
      width: calc( 100% + 30px  )
    &--video
      margin: 0 0 25px
      @media( max-width:770px )
        margin: -15px -15px 10px
  &__image
    width: 100%
    height: 245px
    object-fit: cover
    border-radius: 4px
  &__content
    margin-top: 10px
    &--saerch
      margin-top: 0px
  &__title
    font-size: 18px
    color: rgba(255, 255, 255, 0.7)
    margin-bottom: 20px
  &__inner
    display: flex
    justify-content: space-between
  
  &__footer
    display: flex
    @media( max-width:770px )
      flex-wrap: wrap
  &__item
    margin-right: 20px
    position: relative
    @media( max-width:770px )
      margin-bottom: 10px
      
      &:last-child
        margin-bottom: 0px
    &:last-child
      margin-right: 0px
    &--time::after
      display: inline-block
      content: ''
      width: 6px
      height: 6px
      border-radius: 50%
      background-color: #C4C4C4
      margin-left: 15px
  &__btn
    font-size: 14px
    line-height: 1.1
    color: #107EFF
    cursor: pointer
    transition: all 0.2s linear
    &:hover
      color: #0372f1
  &__link
    font-size: 14px
    color: $blgcol
    transition: all 0.2s linear
    &:hover
      color: #c5bfbf
    &--btn
      font-size: 14px
      line-height: 1.1
      color: #107EFF
      cursor: pointer
      transition: all 0.2s linear
      &:hover
        color: #0372f1
// ====== embat======//
.embed
  position: relative
  overflow: hidden
  &::before
    content: ""
    display: block
    padding-top: 56.25%
  iframe,video
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
// ====== post post--tree======//
.post
  &__three
    
// ====== post post--four======//
.post
  
// ======pagination======//
.pagination
  margin: 50px  0
  display: flex
  justify-content: center
  @media( max-width:770px )
    margin: 30px  0
  &__inner
    margin-right: 5px
    transition: all 0.2s linear
    box-shadow: 0 0 10px rgba(0,0 ,0 ,.15 )
  &__item
    line-height: 40px
    background-color: $head
    width: 40px
    height: 40px
    font-size: 14px
    text-align: center
    border-radius: 3px
    display: block
    box-shadow: 0 0 10px rgba(0,0 ,0 ,.15 )
    cursor: pointer
    color: #fff
    transition: all 0.2s linear
    &:hover
      background-color: #a8a5a5
  .active
    background-color: #104BE3
    box-shadow: rgba ( 16,75,227, .15)
    

// ======post post__post======//
.post
  margin-bottom: 25px
  &__headar
    display: flex
    &__item:first-child
      margin-right: auto
      
    &__link
      font-size: 14px
      line-height: 1.6
      color: $blgcol
      margin-right: 10px
      &--none
        display: none
  &__title--post
    margin-bottom: 10px
  &__item--time
    font-size: 14px
    margin-bottom: 20px
    @media (max-width: 500px)
        margin-bottom: 5px
  &__text--tree
    margin-top: 0px
  &__picture--post
    padding: 25px 25px 0
    @media (max-width: 680px)
      height: 145px
      padding: 15px 15px 0
  &__content--post 
    margin-bottom: 30px
    &::after
      margin: 30px 0
      display: block
      content: ''
      width: calc( 100% -25px  ) 
      height: 1px
      background-color: #1c1c1c
      @media (max-width: 680px)
        margin: 10px 0
// ======post__related======//
.post__related
  &::after
    margin: 25px 0
    display: block
    content: ''
    width: calc( 100% -25px  ) 
    height: 1px
    background-color: #1c1c1c
    @media (max-width: 680px)
        margin: 10px 0
  &__title
    font-size: 16px
    color: #fff
    font-weight: 300
    margin-bottom: 30px
    &--title
      margin-bottom: 20px
      text-align: left
    &--titles
      font-size: 21px
      margin-bottom: 25px
      text-align: left
    &--center
      text-align: center
  &__post
    display: flex
    justify-content: space-between
    @media( max-width:770px )
      flex-wrap: wrap
  &__item
    overflow: hidden
    flex-basis: 50%
    margin-bottom: 20px
    @media( max-width:700px )
      flex-basis: 100%
  &__link
    display: block
    -o-text-overflow: ellipsis
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    font-size: 14px
    line-height: 1.6
    font-weight: 300
    color: #F3EBA2
    transition: all 0.2s linear
    &:hover
      color:  #f7eb81
      
// ======commets======//
.commets
  margin: 10px 0 40px 0
  
  @media (max-width: 500px)
    margin: 10px 0 20px 0
  &__form
  &__text
    width: 100%
    resize: none
    color: #fff
    background: inherit
    margin-bottom: 20px
    font-size: 14px
    border-bottom: 1px solid rgba(255,255 ,255 ,.20 )
    line-height: 1.3
    height: 30px
    overflow: hidden
    &::placeholder
      color: rgba(255,255 ,255 ,.20 )
      padding-bottom: 2px
    &:focus
      outline: none
  &--btn
    background-color: $butcol
    border-radius: 4px

    // ======commet======//
.commet
  margin-bottom: 30px
  @media (max-width: 500px)
    margin-bottom: 15px
  &--two
    padding-left: 30px
    margin-bottom: 40px
    @media (max-width: 500px)
      padding-left: 15px
      margin-bottom: 20px
  &__inner
    align-items: center
    display: flex
    margin-bottom: 15px
    position: relative
  &__photo
    
  &__avatar
    position: absolute
    top: 0
    left: 0
    object-fit: cover
    width: 30px
    height: 30px
    border-radius: 50%
  &__me
    margin-left: 45px
  &__name
    font-size: 12px
    font-weight: 500
    line-height: 1.1
    color: #fff
    margin-bottom: 5px
  &--time
    font-size: 12px
    line-height: 1.16
    font-weight: 400
  &__text
    font-size: 12px
    line-height: 1.2
    color: #fff
    margin-bottom: 5px

// ======work======//
.work
  display: flex
  overflow: hidden
  margin-bottom: 25px
  background-color: #202020
  border-radius: 4px
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  &:last-child
    margin-bottom: 60px
  @media (max-width: 700px)
    flex-wrap: wrap
  
  &__pucture
    width: auto
    min-height: 510px
    @media (max-width: 700px)
      min-height: 210px
  &__image
  
    height: 100%
    display: block
    width: 310px
    object-fit: cover
    @media (max-width: 700px)
      width: 100%

  &__content
    display: flex
    flex-direction: column
    height: auto
    padding: 25px 25px 
    width: calc( 100% - 310px  )
    @media (max-width: 700px)
      width: 100%
      padding: 15px 15px 
  &__title
    font-size: 24px
    line-height: 1.1
    font-weight: 500
    margin-bottom: 20px
    color: #fff
  &__text
    text-align: left
    font-size: 16px
    color: #d2d2d2
    margin-bottom: 20px
  &__inner
    display: flex
    margin-bottom: 20px
  &__item
    margin-right: 7px
    &:last-child
      margin-right: 0px
  &__link
    color: #fff
    font-size: 11px
    font-weight: normal
    border-radius: 2px
    background-color: #EA8C1E
    padding: 0.5em 1em
    line-height: 1.3
    transition: all 0.2s linear
    &:hover
      background-color: #c2741a
  &__btn
    margin-top: auto
    text-align: right
    @media (max-width: 700px)
      margin-bottom: 0
// ======profil======//
.profil
  display: flex
  flex-wrap: wrap
  @media (max-width: 700px)
    flex-wrap: nowrap
    flex-direction: column
  &__inner
    display: flex
    justify-content: center
  &--btn
    @media (max-width: 700px)
      width: 110px
    
  &__item
    &:first-child
      margin-right: 20px
  &__link
    font-size: 12px
    line-height: 1.2
    color: #fff
    &:hover
      text-decoration: underline
  &__grup
    position: relative
    &__btn
      display: flex
      justify-content: center
      @media (max-width: 700px)
        width: 110px
  &__line
    position: absolute
    width: 0
    height: 1px
    left: 0
    bottom: 0
    z-index: 1
    background-color: #3137C9
    transition: width 0.2s linear
    
  &__form
    flex-basis: 340px
    @media (max-width: 700px)
      width: 340px
    @media (max-width: 700px)
      flex-basis: 340px
    &--modal
      flex-basis: 340px
    &--form
      margin: 0 auto
      max-width: 300px
    &__input
      width: 100%
      font-size: 14px
      line-height: 1.3  
      font-weight: 400
      border: none
      background: inherit
      margin-bottom: 25px
      color: rgba(255,255 ,255 ,.70 )
      border-bottom: 1px solid rgba(255,255 ,255 ,.20 )
      padding: 3px 2px
      &::placeholder
        color: rgba(255,255 ,255 ,.20 )
      &:focus
        outline: none
      &:focus + .profil__line
        width: 100%
  &__avatar
    margin-left: 110px
    @media (max-width: 700px)
      margin-left: 0
      margin-top: -125px
  &__picture
    height: 100%
    width: auto
  &__image
    height: 150px
    width: 150px
    object-fit: cover
    margin-bottom: 15px
    display: block
  &__label
    text-decoration: underline
    cursor: pointer
    color: #107EFF
    transition: 0.2s linear
    
    &:hover
      text-decoration: none
  &__input
    display: none
// ======modal======//
.modal
  display: flex
  justify-content: center
  align-items: center
  position: fixed
  width: 100%
  height: 100%
  background-color: rgba(0,0 ,0 ,0.5 )
  top: 0
  left: 0
  z-index: 5
  opacity: 0
  visibility: hidden
  transition: all .5s ease 0s
  padding: 10px
  &:target
    opacity: 1
    visibility: visible
  &:target .modal--form
    transform: perspective(600px) translate(0, 0) rotatex(0deg)
    opacity: 1
    
  &--form
    position: relative
    max-width: 500px
    width: 100%
    padding: 50px 40px 40px
    background-color: #202020
    border-radius: 4px
    opacity: 0
    transform: perspective(600px) translate(0, -100%) rotatex(45deg)
    transition: all .5s ease 0s
  &--btn
    text-align: left
    margin-bottom: 50px
  &__close
    
    position: absolute
    top: 20px
    right: 20px
    display: block
    text-align: right
    transition: transform .2s linear
    &:hover
      transform: rotate(90deg)      
  &__inner
    display: flex
    justify-content: center
  &__item
    margin-right: 20px
  &__link
    text-decoration: underline
    color: rgba(255,255 ,255 ,0.5 )
    transition: .2s linear
    &::hover
      text-decoration: none
  