
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap')
$tt1:'Lato', sans-serif
$tt2: 'Roboto', sans-serif

@import "var.sass"
@import "null.sass"

body
  line-height: 1.4
  font-size: 14px
  font-family: $tt2
  background-color: #181818
  height: 100%
  color: $textcol
.container
  margin: 0 auto
  max-width: 700px
  padding: 0 50px


.page
  display: flex
.main
  flex-basis: calc( 100% - 350px  )
  background-color: $accent

// ====== siedbar======//
.siedbar
  background-color: #202020
  flex-basis: 350px
  text-align: center
  position: relative
  height: 100hv
  box-shadow: 5px 0 15px #181818
  &__picture
    overflow: hidden
    display: block
    height: 200px
  &__image
    display: block
    height: auto
    width: 100%
  &__content
    &__photo
      display: block
      height: 100px
      width: 100px
      overflow: hidden
      margin: -50px auto 20px
      border-radius: 50%
      border: 2px solid #ffffff
      box-shadow: 0 7px 20px rgba(0,0 , 0,.25 )
      position: relative
    &__avatar
      width: auto
      height: 100%
      margin: 0 -50%
      
    &__name
      margin-top: 20px
      font-size: 18px
      color: #fff
    &__proff
      font-size: 14px
  &__inner
    margin-top: 20px
    justify-content: center
    display: flex
    margin-bottom: 50px
  &__item
    display: flex
    margin-right: 15px
  &__icon
    display: inline-block
    height: 25px
    width: 25px
  &__text
    padding: 0 15px
    margin-bottom: 50px
    &:after,&:before
      margin: 25px 0
      display: block
      content: ''
      width: calc( 100% -20px  ) 
      height: 1px
      background-color: #1c1c1c
  &__btn
    border-radius: 40px
    padding: 1.1em 1.9em
    text-decoration: none
    border: none
    vertical-align: center
    display: inline-block
    font-size: 12px
    line-height: 1.1
    font-family: inherit
    font-weight: 500
    color: #fff
    background: #cccc
    transition: all 0.2s linear

    &--left
      background: $butcol2
      margin-right: 15px
      &:hover
        background: #CD251A
    &--right
      background: $butcol
      &:hover
        background: #2A5FE7
      &:focus
        outline: none


// ====== nav======//

.nav
  
  background-color: $head
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  margin-bottom: 6em
  &__nav
    display: flex
  &__item
    position: relative
    &:hover
      .nav__link
        background-color: $butcol
      > .subnav
        display: block
  &__link
    text-transform: uppercase
    display: block
    position: relative
    text-decoration: none
    color: #FFFF
    font-size: 14px
    line-height: 1.1
    padding: 1em 2em
    
    &--list
      padding-right: 2.5em
      position: relative
      &::after
        position: absolute
        top: 50%
        right: 1em
        display: block
        content: ''
        border-style: solid
        border-width: 6px 5px 0 5px
        border-color: #fff transparent transparent transparent
        transform: translateY(-50%)
    &--offset
      margin-right: auto
  &__search
    color: rgba(255,255 , 255,.4 )
    border-bottom: 1px solid $head
    background-color: #202020
    max-width: 212px 
    display: block
    padding: 0 1.35em
    transition: all 0.4s linear
    &:hover
      background-color: #2c2c2c
    &:focus
      outline: none
.nav__item
  position: relative
  &--offset
    margin-right: auto
  &:hover
.nav__link
    > .subnav
      display: block
.subnav
  padding: 1em 0em
  border-bottom-left-radius: 5px
  border-bottom-right-radius: 5px
  background-color: $butcol
  width: 14.5rem
  position: absolute
  top: 100%
  left: 0
  display: none
  &__categoru
    text-decoration: none
    text-transform: uppercase
    color: #fff
    font-size: 12px
    padding: 2.5em 1em
    transition: 0.2s linear
    &:hover
      color: #bbb8b8
// ====== storis======//
.storis
  display: flex
  overflow-x: scroll
  margin-bottom: 35px
  overflow-y: hidden
  &:only-child
    overflow-x: hidden 
  &__item
    cursor: pointer
    border-radius: 7px
    flex: 0 0 140px
    margin-right: calc( 40px /3 )
    height: 195px
    box-shadow: 0 5px 15px rgba(0,0 ,0 , .4)
    overflow: hidden
    position: relative
    &:hover
      .storis__img
        transform: scale(1.5)
        transition-duration: 5s
    &::after
      content: ''
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      z-index: 1
      background: linear-gradient(to bottom,rgba(0,0 , 0,0.8 ) ,rgba(0,0 , 0,0.2 ) 50%, rgba(0,0 , 0,0.8 ))
    &::before
      position: absolute
      content: attr(data-info)
      display: block
      color: #fff
      font-size: 12px
      font-family: $tt1
      position: absolute
      text-align: left
      top: 12px
      left: 12px
      z-index: 2
      width: calc(100% - 24px)
  &__img
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
    object-fit: cover
    transition: transform 1s ease-in-out
  &__time
    color: #fff
    font-size: 12px
    font-family: $tt1
    position: absolute
    text-align: right
    right: 12px
    bottom: 12px
    z-index: 2
    width: calc(100% - 24px)

// ====== add-post======//

.add__post
  margin-bottom: 25px
  padding: 20px
  align-items: center
  background-color: #121212
  border-radius: 4px
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  display: flex
  &__text
    margin-right: 15px
    flex-basis: calc(100% - (88px + 30px))
    font-size: 15px
    line-height: 2
    background-color: transparent
    color: rgba(255, 255, 255, 0.5)
    &:focus
      outline: none
      &::placeholder
        opacity: 0
  &__btn
    width: 44px
    height: 44px
    border-radius: 50%
    overflow: hidden
    &--photo
      position: relative
      cursor: pointer
      margin-right: 15px
      background: #EBEBEB url('../photo/icon/hoto.svg') center no-repeat
    &--send
      cursor: pointer
      background: #3137C9 url('../photo/icon/send.svg')  center no-repeat
  &__file
    width: 100%
    height: 100%
    cursor: pointer
    position: absolute
    left: 0
    top: 0
    opacity: 0
    

// ====== post======//
.post
  margin-bottom: 25px
  background: #202020
  border-radius: 4px
  box-shadow: 0 5px 22px rgba(0,0 , 0,.25 )
  padding: 25px 25px
  &__text
    
    font-size: 14px
    line-height: 1.6
    margin-bottom: 20px

    
  &__footer
    font-size: 12px
    color: $blgcol

   

// ====== post post--two======//
.post
  &--two
   
  &__picture
    margin: -25px -25px
    width: 100%
    height: 100%
    overflow: hidden

  &__image
    width: 600px
    height: 245px
    object-fit: cover
    border-radius: 4px
  &__content
    margin-top: 20px
  &__title
    font-size: 18px
    color: rgba(255, 255, 255, 0.7)
    margin-bottom: 20px
  &__inner
    display: flex
    justify-content: space-between
  &__btn
    font-size: 14px
    line-height: 1.1
    color: #107EFF
    cursor: pointer
    &:hover
      color: #0372f1
  &__footer
    display: flex
  &__item
    margin-right: 20px
    position: relative
    &:last-child
      margin-right: 0px
    &--time::after
      display: inline-block
      content: ''
      width: 6px
      height: 6px
      border-radius: 50%
      background-color: #C4C4C4
      margin-left: 15px
  &__link
    font-size: 14px
    color: $blgcol
    &:hover
      color: #c5bfbf
// ====== post post--three======//

.video
  position: relative
  overflow: hidden
  &::before
    content: ''
    display: block
    padding-top: 56.25%
  &__inner
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 1
// ====== post post--four======//
.post
  &__four
    margin-bottom: 80px
// ======pagination======//
.pagination
  display: flex
  justify-content: center
  margin-bottom: 60px
  &__item
    padding: 13px 15px
    margin-right: 5px
    background-color: #fff


    


  
    
    