
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap')
$tt1:'Lato', sans-serif
$tt2: 'Roboto', sans-serif

@import "var.sass"
@import "null.sass"

body
  line-height: 1.6
  font-size: 50px
  font-family: $tt2
  background-color: $accent
  height: 100%

